/.idea/codeStyles/Project.xml
/.idea/modules.xml
/.idea/misc.xml
/out/production/JFXCalculator/calculator/Main.class
/JFXCalculator.iml
/.idea/libraries/jar_master.xml
/.idea/codeStyles/codeStyleConfig.xml
/out/production/JFXCalculator/calculator/CalculatorPane.fxml
/out/production/JFXCalculator/calculator/CalculatorController.class
/.idea/vcs.xml
